<section id="about" class="section-bg">
  <div class="container-fluid about-top pt-5 pb-5">
    <div class="section-header">
      <h1 class="section-title text-center">About Us</h1>
      <hr>
      <span class="section-divider"></span>
      <p class="section-description px-4 text-center">
        In Quickcook we provide you with an opportunity to source for different sets of guidelines for preparing
        different recipes which helps you to learn how to make different dishes.
    </div>
    <div class="row">
      <div class="col-lg-6 about-img wow fadeInLeft">
        <img src="../images/brooke.png" width="100%" alt="">
      </div>

      <div class="col-lg-6 content wow fadeInRight">
        <h4 class="px-4">Categories</h4>
        <p class="text-center dar px-4"> Here in Quickcook we have different types of recipes which are sorted by meal
          types. Click on the search link above to find different meal types such as seen in the list below.</p>

        <ul>
          <li>
            <i class="ion-android-checkmark-circle"></i>Breakfast</li>
          <li>
            <i class="ion-android-checkmark-circle"></i>Lunch </li>
          <li>
            <i class="ion-android-checkmark-circle"></i>Dinner </li>
          <li>
            <i class="ion-android-checkmark-circle"></i>Snacks </li>
          <li>
            <i class="ion-android-checkmark-circle"></i>Desserte </li>
          <li>
            <i class="ion-android-checkmark-circle"></i>Soup </li>
          <li>
            <i class="ion-android-checkmark-circle"></i>Stew </li>
        </ul>
        <h4 class="px-4">Contribute to Quickcook</h4>
        <p class="text-center dar px-4"> You can add to our lists of recipes by clicking this <a
            href="https://bit.ly/313kjCh" target="_blank" class="text-color">link</a> to enable others to learn from you
          too.
      </div>
    </div>

  </div>
</section>
<br><br>
<!-- #about -->

<section id="contact">
  <div class="container about-top pt-4 pb-4">
    <div class="section-header">
      <h1 class="section-title text-center">Contact Us</h1>
      <hr>
      <span class="section-divider"></span>
      <div class="row wow fadeInUp">

        <div class="col-lg-4 col-md-4">
          <div class="contact-about">
            <h3>
              <strong>
                <small class="px-4">QuickCook</small>
              </strong>
            </h3>
            <p class="text-center dar px-4">For further information, enquiries and or assistance, contact us through the
              following links below. You can as well reach us via email and phone through the email and number below
            </p>
            <div class="social-links  ml-5 mb-3 icon">
              <a href="https://twitter.com/@ogbonnaubadire" class="twitter">
                <i class="btn fa fa-twitter icon"></i>
              </a>
              <a href="#" class="facebook">
                <i class="btn fa fa-facebook "></i>
              </a>
              <a href="#" class="instagram">
                <i class="btn fa fa-instagram "></i>
              </a>
              <a href="#" class="github">
                <i class="btn fa fa-github icon"></i>
              </a>
              <a href="https://bit.ly/2Z6Xyxw" class="linkedin">
                <i class="btn fa fa-linkedin icon"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div class="text-center dar px-4">
              <i class="ion-ios-location-outline"></i>
              <p>Locate us @ 7 factory Road Aba
                <br>Abia state, Nigeria</p>
            </div>

            <div class="text-center dar">
              <i class="ion-ios-email-outline"></i>
              <p><i>desmondubadire@gmail.com</i></p>
            </div>

            <div class="text-center dar px-4">
              <i class="ion-ios-telephone-outline"></i>
              <p>08107583440</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage" class="text-center">Message Us</div>
            <br>
            <div id="errormessage"></div>
            <form action="/send" method="POST" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="number" class="form-control" name="phone" id="phone" placeholder="Your Phone Number"
                    data-rule="minlen:11" data-msg="Please enter a valid number" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                    data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-12">
                  <textarea class="form-control" name="message" rows="5" data-rule="required"
                    data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="col-md-12 text-center mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn" title="Send Message">Send Message</button>
                </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</section>
<br>