<section class="">
  <footer class="footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="mt-2">
            <p class="text-warning footer-hosted mt"> &copy; Copyright Recipe. All Rights Reserved Hosted with <img
                src="../images/rrpm.png" width="10px" height="10px" alt="" class="footer-love-image ml-2 mr-2"> by
              Ogbonna Chinonso<a href="/" class=" scrollto ml-3 text-white">Home</a><a href="#about"
                class="scrollto text-white ml-3">About</a><a href="/search"
                class="scrollto text-white ml-3">Search</a></p>

          </div>

        </div>
      </div>
    </div>
  </footer>

  <!-- #footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</section>

<script src="js/libs/jquery-1.7.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" src="../css/js/script.js"></script>
<script type="text/javascript" src="../css/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../css/js/wow.min_.js"></script>

<!-- Contact Form JavaScript File -->
<script src="../contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="../js/main.js"></script>
</body>

</html>