<section class="">
  <footer id="footer" class="footer">
    <div class="container ">
      <div class="row">
        <div class="col-lg-6">
          <nav class="footer-link  text-center pt-2 pt-lg-0 text-white">
            <a href="/" class="scrollto text-white">Home</a>
            <a href="#about" class="scrollto text-white">About</a>
            <a href="/search" target="_blank" class=" text-white">Search</a>
          </nav>
        </div>
        <div class="col-lg-6 text-left text-center">
          <div class="copyright text-white">
            &copy; Copyright Quickcook.com All Rights Reserved.  Designed by  <a href="https://bit.ly/2Z6Xyxw" target="_blank" class=" text-white">Ogbonna Chinonso</a>
          </div>
          <div class=" text-white">
           
          </div>
        </div>
      
      </div>
    </div>
  </footer>
  <!-- #footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</section>

<script src="js/libs/jquery-1.7.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script  src="../../css/jquery/jquery.min.js"></script>
<script src="../../css/jquery/jquery-migrate.min.js"></script>
<script src="../../css/js/popper.min.js"></script>
<script src="../../css/jquery/bootstrap.bundle.min.js"></script>
<script  src="../../css/jquery/easing.min.js"></script>
<script src="../../css/jquery/wow.min.js"></script>
<script src="../../css/jquery/superfish.min.js"></script>
<script src="../../css/jquery/magnific-popup.min.js"></script>


<!-- Contact Form JavaScript File -->
<script src="../../contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="../js/main.js"></script>
</body>

</html>