<section class="">
  <footer id="footer" class="bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright text-warning">
            &copy; Copyright <strong>RecipeApp</strong>. All Rights Reserved
          </div>
          <div class="credit text-warning">
            Designed by  <a href="https://bit.ly/2Z6Xyxw" target="_blank">Ogbonna Chinonso</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0 text-warning">
            <a href="/" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="/search" target="_blank">Search</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->
  <!-- #footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</section>

<script src="js/libs/jquery-1.7.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" src="../css/js/script.js"></script>
<script type="text/javascript" src="../css/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../css/js/wow.min_.js"></script>

<!-- Contact Form JavaScript File -->
<script src="../contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="../js/main.js"></script>
</body>

</html>