<%- include('partials/header')-%>
<div class="container m-top py-5 px-2 w-50 ">   
  <h2 class="mb-4 text-center">Add New Recipe</h2>
  <%- include('partials/message')-%>
  <form action="/addrecipe" method="POST">
    <input type="text" name="category" class="form-control mt-2" placeholder="Recipe Category"  required>
    <input type="text" name="name" class="form-control mt-2" placeholder="Recipe Name" required>
    
    <input type="text" name="ingredients" class="form-control mt-2" placeholder="Recipe Ingredients" required>
    <input type="text" name="instructions" class="form-control mt-2" placeholder="Recipe Instructions" required>

    <input type="text" name="img"class="form-control mt-2" placeholder="Recipe Imagurl"  required>
  
    <button class="btn but btn-block mt-3 mb-5" type="submit">Add to Database</button>
  </form>
</div>
<%- include('partials/footer')-%>