<%- include('partials/header')-%>
<h2 class="mb-3 m-top text-center ">Change Password</h2>
<div class="container mt-2 w-50 ">
  <%- include('partials/message')-%>
  <form action="/password/new " method="POST">
    <div class="form-group px-0">
      <input required type="password" name="password" class="form-control " placeholder="Password">
    </div>
    <div class="form-group px-0">
      <input required type="password" name="confirmpassword" class="form-control " placeholder="Confirmpassword">
    </div>
    <button class="btn but btn-block mt-4" type="submit">New Password</button>
  </form>
</div>

<%- include('partials/footer')-%>