<%- include('partials/header')-%>
<main class="login-page">
  
    <div class="container m-top py-3 ">
      <div class="col-sm-12">
        <div class="card login">
          <div class="card-body">
            <h2 class="mb-4 text-center ad"> Signup</h2>
            <%- include('partials/message')-%>
            <form action="/signup" method="POST">
              <input required type="text" name="username" class="form-control mt-2" placeholder="Enter Username">
              <input type="email" name="email" class="form-control mt-2" placeholder="Enter Email">
              <input required type="password" name="password" class="form-control mt-2" placeholder="Enter Password">
              <button class="btn but btn-block mt-4"  type="submit">
                <a  href="/login"></a> Signup</button>
            </form>
          </div>
          <a class="text-center mt-2 mb-3" href="/login">Sign In</a>
        </div>
      </div>
    </div>
</main>
<%- include('partials/footer')-%>